# render options

obj_file=scenes/cube.obj
output=scenes/cube.png
mode=full

# camera options

aspect_ratio=1.3333
image_width=1800
samples_per_pixel=50
max_depth=50
vfov=60
lookfrom=0;0.7;1.75
lookat=0;0.7;0
vup=0;1;0
